// 共通

.w95,.w95s,
.w90,.w90s,
.w85,.w85s,
.w80,.w80s,
.w75,.w75s,
.w50,.w50s,
.w40,.w40s,
.w30,.w30s{
    &.-right{
        margin-left: auto;
        margin-right: 0;
        &_s{
            @include max(500){
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
    &.-left{
        margin-left: 0;
        margin-right: auto;
        &_s{
            @include max(500){
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}

// 横幅
.w1280{
    width: 90% !important;
    margin: auto;
    @include min(500) {
        width: 90%;
    }
    @include min(1100){
        width: 90% !important;
        max-width: 1280px;
    }
}
.w1100{
    width: 90% !important;
    margin: auto;
    @include min(500) {
        width: 90%;
    }
    @include min(1100){
        width: 90% !important;
        max-width: 1100px;
    }
}
.w100{
    width: 100%;
    margin: auto;
}
.w95{
    width: 95%;
    margin: auto;
}
.w90{
    width: 90%;
    margin: auto;
}
.w85{
    width: 85%;
    margin: auto;
}
.w80{
    width: 80%;
    margin: auto;
}
.w75{
    width: 75%;
    margin: auto;
}
.w70{
    width: 70%;
    margin: auto;
}
.w50{
    width: 50%;
    margin: auto;
}
.w40{
    width: 40%;
    margin: auto;
}
.w30{
    width: 30% !important;
    margin: auto;
}
.w20{
    width: 20% !important;
    margin: auto;
}
.w100s{
    @include max(500){
        width: 100% !important;
        margin: auto;
    }
}
.w95s{
    @include max(500){
        width: 95% !important;
        margin: auto;
    }
}
.w90s{
    @include max(500){
        width: 90% !important;
        margin: auto;
    }
}
.w85s{
    @include max(500){
        width: 85% !important;
        margin: auto;
    }
}
.w80s{
    @include max(500){
        width: 80% !important;
        margin: auto;
    }
}
.w75s{
    @include max(500){
        width: 75% !important;
        margin: auto;
    }
}
.w70s{
    @include max(500){
        width: 70% !important;
        margin: auto;
    }
}
.w50s{
    @include max(500){
        width: 50% !important;
        margin: auto;
    }
}
.w40s{
    @include max(500){
        width: 40% !important;
        margin: auto;
    }
}
.w30s{
    @include max(500){
        width: 30% !important;
        margin: auto;
    }
}


.c-borderBox{
    padding: 3%;
    @include min(500){
        // width: 95%;
        width: 100%;
        padding: 1% 1% 2%;
        margin-right: 0;
        margin-left: auto;
    }
    span{
        padding: 0 5px;
    }
    &.-double{
        border: 4px double $site-color01;
        @include min(500){
            border: 7px double $site-color01;
        }
    }
    &.-solid{
        border: 1px solid $site-color01;
        @include min(500){
            border: 1px solid $site-color01;
        }
    }
}

.c-borderBtm{
    &.-solid{
        border-bottom: 1px solid $main-color--gray;
        @include min(500){
            border-bottom: 1px solid $main-color--gray;
        }
    }
    &.-dotted{
        border-bottom: 1px dotted $main-color--gray;
        @include min(500){
            border-bottom: 1px dotted $main-color--gray;
        }
    }
}

.colorBox{
    background: $main-color--w;
    padding: 3% 0 0;
    border-radius: 5px;
    @include min(500){
        padding: 3% 0 0;
    }
}

// 画像関係
.c-img{
    // ボーダー枠
    &.-b-frame{
        border: 1px solid $main-color--b;
        overflow: hidden;
        &.-left{
            border-top: 2px solid $main-color--b;
            border-right: 2px solid $main-color--b;
            border-bottom: 2px solid $main-color--b;
            border-radius: 0 20px 20px 0;
        }
        &.-right{
            border-top: 2px solid $main-color--b;
            border-left: 2px solid $main-color--b;
            border-bottom: 2px solid $main-color--b;
            border-radius: 20px 0 0 20px;
        }
    }
    // シャドウ
    &.-shadow{
        // box-shadow: 1px 3px 5px 1px rgb(0 0 0 / 34%);
        filter: drop-shadow(1px 2px 3px $main-color--b);
    }
}
.box-r{
    border-radius: 20px;
    overflow: hidden;
}

.error-message{
    display: none;
    font-size: 1rem;
    color: #df2323 !important;
    font-weight: bold;
    text-align: left;
    &.active {
        display: block; /* エラー時に表示 */
    }
}