// 各ページ > メインビジュアル

.c-mainVisual{
    // ===================== 共通設定 =====================
    position: relative;
    overflow: hidden;
    &.-bg{// 背景色・背景画像
        // 背景色
        &-color01 {background: $site-color01 !important;}
        &-color02 {background: $site-color02 !important;}
        &-color03 {background: $site-color03 !important;}
        &-color04 {background: $site-color04 !important;}
        &-color05 {background: $site-color05 !important;}
        &-color06 {background: $site-color06 !important;}
        &-color07 {background: $site-color07 !important;}
        &-white {background: $main-color--w !important;}
        &-gray {background: $main-color--gray !important;}

        // 背景画像
        &-img{
            &-sc08 {
                background-image: url(/images/Lp/sc08-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &-cta {
                background-image: url(/images/Lp/cta-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &--inner {// コンテンツ幅
        width: 92.5%;
        margin: auto;
        @include max(500) {max-width: 375px;}
        @include min(500) {width: 85%;}
        @include min(768) {width: 90%;}
        @include min(1600) {max-width: 1380px;}
        @include min(1800) {max-width: 1500px;}
    
        &.-bg-color01 {background: $site-color01;}
        &.-bg-color02 {background: $site-color02;}
        &.-bg-color03 {background: $site-color03;}
        &.-bg-white {background: $main-color--w;}
        &.-bg-gray {background: $main-color--gray;}
        &.-bg-img01 {
            background-image: url(/images/Lp/sc08-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.-card {
            padding: 10% 2.5% 10%;
            border-radius: 10px;
            border: 1px solid $site-color03;
            box-shadow: 0px 0px 5px #8080802b;
            @include min(768) {padding: 6% 2.5% 5%;}
        }
    }
    .imgBox{// コンテンツ「幅・高さ」を指定する画像
        position: relative;
        width: 100%;
        height: 100%;
    }
    &--box{// コンテンツ内のボックス
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        @include max(500) {max-width: 375px;}
        @include min(500) {width: 85%;}
        @include min(768) {width: 90%;}
        @include min(1600) {max-width: 1380px;}
        @include min(1800) {max-width: 1500px;}
        &.-center {// 要素の真ん中
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // ===================== LP関係 =====================
    &.-box {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
    &.-LP {// LP ベース設定
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        @include min(768) {margin-top: 50px;}    
    }
    &.-LP01 {
        background: $lp-color04;
        .imgBox {
            object-fit: cover;

            // margin-top: 60px;
            width: auto;
            height: auto;
            max-width: none !important;
            max-height: none !important;

            @include max(500) {
                max-height: 1080px !important;
            }
            // @include min(768) {
            //     min-height: 620px !important;
            // }
            // @include min(2000) {
            //     max-height: 1280px !important;
            // }
            // img {
                // @include min(768) {
                //     object-position: 100% 90%;
                //     object-fit: cover;
                // }
            // }
        }
        .c-contentsBox {
            // ケグ
            &.-tkeg {
                width: 38%;
                max-width: 1150px;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 4;
                @include min(768) {
                    width: 30.4%;
                    top: 35%;
                    left: 50%;
                }
                @include min(1000) {
                    width: 30.4%;
                    max-width: 400px;
                    top: 39%;
                    left: 50%;
                }
                @include min(1400) {
                    top: 34%;
                }
                @include min(1600) {
                    top: 38%;
                }
                @include min(2000) {
                    top: 45%;
                    width: 33%;
                    max-width: 450px;
                }
            }
            &.-bjet {
                width: 20%;
                max-width: 1150px;
                position: absolute;
                top: 69%;
                left: 15%;
                transform: translate(-50%, -45%);
                z-index: 6;
                @include min(768) {
                    width: 10%;
                    top: 66%;
                    left: 28.5%;
                }
                @include min(1000) {
                    width: 9%;
                    max-width: 170px;
                    top: 74%;
                    left: 30%;
                }
                @include min(1200) {
                    top: 72%;
                }
                @include min(1600) {
                    top: 72%;
                }
                @include min(1800) {
                    top: 70%;
                    left: 33.5%;
                }
                @include min(2000) {
                    top: 76%;
                    left: 28%;
                    width: 10%;
                }
            }
            &.-topper {
                width: 17%;
                max-width: 1150px;
                position: absolute;
                top: 68.5%;
                left: 85%;
                transform: translate(-50%, -45%);
                z-index: 5;
                @include min(768) {
                    width: 9%;
                    top: 65%;
                    left: 72.5%;
                }
                @include min(1000) {
                    width: 8%;
                    max-width: 160px;
                    top: 72%;
                    left: 69.5%;
                }
                @include min(1200) {
                    top: 71%;
                }
                @include min(1600) {
                    top: 71%;
                }
                @include min(1800) {
                    top: 68.5%;
                    left: 67%;
                }
                @include min(2000) {
                    top: 74%;
                    left: 72%;
                    width: 10%;
                }
            }
            // ログ&テキスト
            &.-talos {
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);

                width: 23%;
                z-index: 1;
                @include min(768) {
                    top: 15%;
                    width: 13%;
                }
                @include min(1000){
                    top: 18%;
                }
                @include min(2000){
                    width: 15%;
                    max-width: 300px;
                }
            }
            &.-text {
                position: absolute;
                top: 17%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                @include min(768) {
                    top: 24%;
                }
                @include min(1000){top: 29%;}
                @include min(1400){top: 28%;}
                @include min(1800){top: 26%;}
            }
            // 吹き出し
            &.-coment {
                position: absolute;
                top: 54%;
                left: 5px;
                width: 32%;
                z-index: 8;
                @include min(768) {
                    top: 23.5%;
                    left: 10%;
                    width: 26%;
                }
                @include min(1000){
                    top: 22.5%;
                    left: 15%;
                    width: 20%;
                    max-width: 330px;
                }
            }
            // ビールアイコン 
            &.-icon {
                position: absolute;
                &.-icon01 {
                    top: 25%;
                    left: 0;
                    width: 85px;
                    @include min(768){
                        top: 12%;
                        width: 150px;
                    }
                }
                &.-icon02 {
                    top: 50%;
                    left: 75%;
                    width: 45px;
                    @include min(768){
                        top: auto;
                        bottom: 5%;
                        left: 88%;
                        width: 80px;
                    }
                    @include min(2000){left: 92%;}
                }
                &.-icon03 {
                    top: 50%;
                    right: 0;
                    width: 45px;
                    @include min(768){
                        top: auto;
                        bottom: 5%;
                        width: 80px;
                    }
                    @include min(2000){
                        width: 100px;
                    }
                }
                &.-icon04 {
                    top: 16%;
                    right: 40px;
                    width: 30px;
                    @include min(768){
                        top: auto;
                        right: auto;
                        left: 100px;
                        bottom: 5%;
                        width: 80px;
                    }
                    @include min(2000){
                        width: 100px;
                    }
                }

            }
            // お問い合わせフォーム
            &.-cta {
                width: 90%;
                max-width: 420px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 7;

                @include min(768) {
                    width: 35%;
                    top: 17.5%;
                    left: 77%;
                }
                @include min(1000) {
                    width: 30%;
                    top: 16.5%;
                    left: 80%;
                }
                @include min(1400) {
                    left: 78%;
                }
                @include min(1800){
                    top: 27.5%;
                    left: 75%;
                }
                @include min(2000){
                    width: 20%;
                    // top: 40.5%;
                    left: 75%;
                }
                @include min(2500){
                    // top: 45.5%;
                    left: 73%;
                }
                @include min(2800){
                    left: 70%;
                }
                @include min(2900) {
                    // top: 45.5%;
                    left: 68%;
                }
            }
        }
    }
    &.-tateArea {
        position: absolute;
        top: 24%;
        left: 0;
        width: 100%;
        height: 50%;
        @include min(768) {
            top: 0;
            left: auto;
            right: 0%;
            width: 50%;
            max-width: 350px;
            height: 100%;
        }
        .imgBox {
            // margin-top: 60px;
            width: 100%;
            height: 100%;
            max-width: none !important;
            max-height: none !important;
        }
        .c-contentsBox {
            &.-tate {
                position: absolute;
                width: 20px;
                height: auto;
                z-index: 1;
                // @include max(768){
                    // transform:rotate(4deg) !important;
                // }
                @include min(768)  {width: 25px;}
                @include min(1000) {width: 30px;}
                @include min(1200) {width: 40px;}
                &.-tate01{
                    @include max(768){
                        top: 0;
                        left: 39%;
                        transform: translateX(-50%);
                    }
                    @include min(768) {
                        top: 10%;
                        right: 50px;
                    }
                    @include min(1000) {right: 50px;}
                }
                &.-tate02{
                    @include max(768){
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%) !important;
                    }
                    @include min(768) {
                        top: 10%;
                        right: 100px;
                    }
                    @include min(1000) {right: 110px;}
                }
                &.-tate03{
                    @include max(768){
                        top: 0;
                        left: 60%;
                        transform: translateX(-50%);
                    }
                    @include min(768) {
                        top: 10%;
                        right: 150px;
                    }
                    @include min(1000) {right: 180px;}
                }
            }
        }
    }
}