// 各ページ > メインビジュアル

.c-mainVisual{
    // ===================== 共通設定 =====================
    position: relative;
    overflow: hidden;
    &.-bg{// 背景色・背景画像
        // 背景色
        &-color01 {background: $site-color01 !important;}
        &-color02 {background: $site-color02 !important;}
        &-color03 {background: $site-color03 !important;}
        &-color04 {background: $site-color04 !important;}
        &-color05 {background: $site-color05 !important;}
        &-color06 {background: $site-color06 !important;}
        &-color07 {background: $site-color07 !important;}
        &-white {background: $main-color--w !important;}
        &-gray {background: $main-color--gray !important;}

        // 背景画像
        &-img{
            &-sc08 {
                background-image: url(/images/Lp/sc08-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &-cta {
                background-image: url(/images/Lp/cta-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    &--inner {// コンテンツ幅
        width: 92.5%;
        margin: auto;
        @include max(500) {max-width: 375px;}
        @include min(500) {width: 85%;}
        @include min(768) {width: 90%;}
        @include min(1600) {max-width: 1380px;}
        @include min(1800) {max-width: 1500px;}
    
        &.-bg-color01 {background: $site-color01;}
        &.-bg-color02 {background: $site-color02;}
        &.-bg-color03 {background: $site-color03;}
        &.-bg-white {background: $main-color--w;}
        &.-bg-gray {background: $main-color--gray;}
        &.-bg-img01 {
            background-image: url(/images/Lp/sc08-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.-card {
            padding: 10% 2.5% 10%;
            border-radius: 10px;
            border: 1px solid $site-color03;
            box-shadow: 0px 0px 5px #8080802b;
            @include min(768) {padding: 6% 2.5% 5%;}
        }
    }
    .imgBox{// コンテンツ「幅・高さ」を指定する画像
        position: relative;
        width: 100%;
        height: 100%;
    }
    &--box{// コンテンツ内のボックス
        position: absolute;
        &.-center {// 要素の真ん中
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
        &.-breadcrumb {// パンくず
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: inherit;
        }
    }

    // ===================== LP関係 =====================
    &.-LP {// LP ベース設定
        position: relative;
        overflow: hidden;
    }
    &.-LP01 {
        background: $lp-color04;
        .imgBox {
            margin-top: 60px;
            width: auto;
            height: auto;
            max-width: none !important;
            max-height: none !important;

            @include max(500) {
                max-height: 1080px !important;
            }
            @include min(768) {
                min-height: 620px !important;
            }
            @include min(1800) {
                max-height: 960px !important;
            }
            @include min(2000) {
                max-height: 960px !important;
            }
        }
        .c-contentsBox {

            &.-comments01 {
                width: 95%;
                max-width: 1150px;
                position: absolute;
                top: 29%;
                left: 50%;
                transform: translate(-50%, -45%);
                z-index: 5;
                @include min(768) {
                    width: 60%;
                    top: 57%;
                    left: 31.5%;
                }
                @include min(1000) {
                    width: 60%;
                    top: 53%;
                    left: 33.5%;
                }
                @include min(1200) {
                    width: 60%;
                    top: 52%;
                    left: 34.5%;
                }
                @include min(1400) {
                    top: 50%;
                    left: 34.5%;
                }
                @include min(1600) {
                    left: 37.5%;
                }
                @include min(1800) {
                    width: 55%;
                    left: 36.5%;
                }
                @include min(2000) {
                    left: 39.5%;
                }
                @include min(2300) {
                    left: 43.5%;
                }
            }
            &.-arrow {
                position: absolute;
                top: 37%;
                left: -90px;
                width: 100%;
                z-index: 1;
                @include min(768) {
                    top: 15%;
                    left: 0;
                }
            }

            &.-cta {
                width: 90%;
                max-width: 420px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 7;

                @include min(768) {
                    width: 35%;
                    top: 17.5%;
                    left: 77%;
                }
                @include min(1000) {
                    width: 30%;
                    top: 16.5%;
                    left: 80%;
                }
                @include min(1400) {
                    left: 78%;
                }
                @include min(1800){
                    top: 27.5%;
                    left: 75%;
                }
                @include min(2000){
                    width: 20%;
                    // top: 40.5%;
                    left: 75%;
                }
                @include min(2500){
                    // top: 45.5%;
                    left: 73%;
                }
                @include min(2800){
                    left: 70%;
                }
                @include min(2900) {
                    // top: 45.5%;
                    left: 68%;
                }
            }
        }
    }
}