// LP > コンテンツ > セクション内
.c-contents{
    &--LpContentsTitle {// コンテンツ > タイトル
        position: relative;
        font-size: 2rem !important;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        padding: 0 1px;
        @include min(500){font-size: clamp(2rem, 2vw, 4.75rem) !important;}
        @include min(1800){font-size: max(3rem, 35px) !important;}
        &::before {
            position: absolute;
            top: -5px;
            font-size: 1rem;
            letter-spacing: .3rem;
        }

        // コンテンツタイトル > 位置指定
        &.-center{
            text-align: center;
            &::before{// 英字
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.-left{
            text-align: left;
            padding-left: 15px;
            @include min(1600){
                padding-left: 20px;
            }
            &::before{// 英字
                left: 15px;
                transform: translate(0, -50%);
                @include min(1600){
                    left: 20px;
                }
            }
            &::after{// ボーダーライン
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-50%);
                width: 2px;
                height: calc(100% + 10px);
                background: $site-color03;
                border-radius: 10px;
                @include min(1600){
                    width: 3px;
                }
            }
        }
        &.-right{
            text-align: right;
            padding-right: 15px;
            @include min(1600){
                padding-right: 20px;
            }
            &::before{// 英字
                right: 0;
                transform: translate(0, -50%);
                @include min(1600){
                    right: 20px;
                }
            }
            &::after{// ボーダーライン
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(0, -50%);
                width: 2px;
                height: calc(100% + 10px);
                background: $site-color03;
                border-radius: 10px;
                @include min(1600){
                    width: 3px;
                }
            }
        }
        // コンテンツタイトル > ボーダーライン
        &.-b-btm{
            &::after{// 基本設定
                content: "";
                display: block;
                position: relative;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 20px;
                max-width: 1100px;
                height: 0;
                border-bottom: 3px dotted $site-color03;
                @include min(768){
                    bottom: -10px;
                }
            }
            // 色指定
            &.-c01   {&::after{border-bottom: 3px dotted $site-color01 !important;}}
            &.-c02   {&::after{border-bottom: 3px dotted $site-color02 !important;}}
            &.-c03   {&::after{border-bottom: 3px dotted $site-color03 !important;}}
            &.-c04   {&::after{border-bottom: 3px dotted $site-color04 !important;}}
            &.-lp_c01{&::after{border-bottom: 3px dotted $lp-color01 !important;}}
            &.-lp_c02{&::after{border-bottom: 3px dotted $lp-color02 !important;}}
            &.-lp_c03{&::after{border-bottom: 3px dotted $lp-color03 !important;}}
            &.-white {&::after{border-bottom: 3px dotted $main-color--w !important;}}
            
            &.-left{ // テキストが左寄せの場合
                &::after{
                    left: 0;
                    transform: translateX(0);
                }
            }
        } 
        // コンテンツタイトル > カナ表記
        .-kana {
            font-size: 2.5rem;
            @include min(500){font-size: clamp(2.2rem, 2vw, 4.5rem);}
            @include min(1800){font-size: max(3.2rem, 37px) !important;}
        }
        span{
            font-size: clamp(1.8rem, 1.5vw, 2.8rem);
            font-weight: bold;
        }

        // コンテンツタイトル > 英語表記
        &.-about   {&::before{content: "About TALOS KEG"; white-space: nowrap;}}// Talosケグとは
        &.-product {&::before{content: "Product Introduction"; white-space: nowrap;}}// 商品紹介
        &.-features{&::before{content: "Features Of Talos"; white-space: nowrap;}}// 商品紹介
        &.-what    {&::before{content: "What SelectMall Can Do"; white-space: nowrap;}}// 商品紹介
        &.-QA      {&::before{content: "Q&A"; white-space: nowrap;}}// 商品紹介
        &.-other   {&::before{content: "Comparison With Others"; white-space: nowrap;}}// 商品紹介
        &.-contact     {&::before{content: "Contact"; white-space: nowrap;}}//お問い合わせ
        // &.-contact02   {&::before{content: "Request For Information"; white-space: nowrap;}}//資料ダウンロード
        // &.-point       {&::before{content: "POINT"; white-space: nowrap;}}//特徴

    }

    &--ItemTitle{// コンテンツ > セクション > タイトル
        font-size: 2rem;
        letter-spacing: .2rem;
        line-height: 1.7;
        @include min(500){
            font-size: clamp(1.8rem, 2vw, 4rem);
            font-weight: bold;
            line-height: 1.5;
        }
    }
    &--LpCtaTitle{// コンテンツ > CTA
        position: relative;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        text-align: center;
        padding: 0 1px;
        @include min(500){font-size: clamp(2rem, 2vw, 4rem);}
        &::before{
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            letter-spacing: .3rem;
        }
        // コンテンツタイトル > ボーダーライン
        &.-b-btm{
            &::after{// 基本設定
                content: "";
                display: block;
                position: relative;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                max-width: 1100px;
                height: 0;
                background: $main-color--w;
                border-bottom: 3px dotted $site-color03;
                @include min(768){
                    bottom: -10px;
                }
            }
            // 色指定
            &.-c01{&::after{background: $site-color01 !important;}}
            &.-c02{&::after{background: $site-color02 !important;}}
            &.-c03{&::after{background: $site-color03 !important;}}
            &.-c04{&::after{background: $site-color04 !important;}}
    
            &.-left{ // テキストが左寄せの場合
                &::after{
                    left: 0;
                    transform: translateX(0);
                }
            }
        }
    
        // コンテンツタイトル > 英語表記 > カラー設定
        &.-en-color01{&::before{color: $site-color01;}}
        &.-en-color02{&::before{color: $site-color02;}}
        &.-en-color03{&::before{color: $site-color03;}}
        &.-en-color04{&::before{color: $site-color04;}}

        &.-white{
            color: $main-color--w !important;
            &.-b-btm{
                &::after{
                    background: $main-color--w !important;
                    border-bottom: 3px dotted $main-color--w;
                }
            }
        }
    }
    &--LpListTitle{// コンテンツ > セクション > リストタイトル
        position: relative;
        color: $main-color--w;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        padding: 10px 15px 10px 5.5rem;
        @include min(1000){
            padding: 10px 15px 10px 6rem;
            font-size: clamp(1.6rem, 1.7vw, 2.2rem);
            font-weight: bold;
            line-height: 1.5;
        }
        @include min(1200){padding: 10px 15px 10px 7rem}
        @include min(1200){padding: 10px 15px 10px 7.5rem;}
        &::before{
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0, -50%);
            font-size: clamp(2.8rem, 2.5vw, 4rem);
            font-weight: bold;
            letter-spacing: -.1rem;
            @include min(768){
                left: 1.5rem;
            }
        }
        &.-t01{
            background: $lp-color01;
            &::before{content: "01";}
        }
        &.-t02{
            background: $lp-color02;
            &::before{content: "02";}
        }
        &.-t03{
            color: $lp-color01;
            background: $lp-color03;
            &::before{content: "03";}
        }
    }

    // コンテンツ内のテキスト
    &--LpText {
        font-size: 1.3rem;
        @include min(768) {
            font-size: clamp(1.2rem, 1.5vw, 1.4rem) !important;
        }
        letter-spacing: .1rem;
        line-height: 2;

        &.-center{text-align: center;}
        &.-left  {text-align: left;}
        &.-right {text-align: right;}
    }
}

.c-card{
    &--title {
        //card.scssに記述
    }
}


.ItemTitle {
    max-width: 100px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.32)) !important;
}

// 各ページ > ファーストビュー内のタイトル
.c-page-title{
    color: $lp-color01;
    display: inline-block;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include min(500){top: 59%;}

    &::before{
        position: absolute;
        bottom: -55%;
        left: 50%;
        transform: translateX(-50%);
        color: $lp-color01;
        font-size: 1rem;
        letter-spacing: .3rem;
        white-space: nowrap;
        @include min(500){
            bottom: -55%;
        }

    }
    &.-contact    {&::before{content: "- CONTACT -";}}
    &.-contact02  {&::before{content: "- REQUEST FOR INFORMATION -"; white-space: nowrap;}}
    &.-notFound   {&::before{content: "- 404 NOT FOUND -"; white-space: nowrap;}}//エラーページ
    // 固定ページ
    &.-company    {&::before{content: "- COMPANY -"; white-space: nowrap;}}// 会社概要
    &.-rules      {&::before{content: "-TERMS OF RULES -"; white-space: nowrap;}}// 利用規約
    &.-privacyPolicy{&::before{content: "- PRIVACY POLICY -"; white-space: nowrap;}}// プライバシーポリシー
    &.-solicitationPolicy{&::before{content: "- SOLICITATION POLICY -"; white-space: nowrap;}}// 勧誘方針
}