// LP > コンテンツ > セクション内
.c-contents{
    &--LpMainTitle{
        position: relative;
        font-size: 2rem !important;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        text-align: center;
        padding: 0 1px;
        @include min(500){font-size: clamp(2rem, 2vw, 4.75rem) !important;}
        @include min(1800){font-size: max(3rem, 35px) !important;}
        &::before{
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            letter-spacing: .3rem;
        }
        // コンテンツタイトル > ボーダーライン
        &.-b-btm{
            &::after{// 基本設定
                content: "";
                display: block;
                position: relative;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                max-width: 1100px;
                height: 0;
                background: $main-color--w;
                border-bottom: 3px dotted $site-color03;
                @include min(768){
                    bottom: -10px;
                }
            }
            // 色指定
            &.-c01{&::after{background: $site-color01 !important;}}
            &.-c02{&::after{background: $site-color02 !important;}}
            &.-c03{&::after{background: $site-color03 !important;}}
            &.-c04{&::after{background: $site-color04 !important;}}
    
            &.-left{ // テキストが左寄せの場合
                &::after{
                    left: 0;
                    transform: translateX(0);
                }
            }
        } 
        .-kana {
            font-size: 2.5rem;
            @include min(500){font-size: clamp(2.2rem, 2vw, 4.5rem);}
            @include min(1800){font-size: max(3.2rem, 37px) !important;}
        }
        span{font-size: clamp(1.8rem, 1.5vw, 2.8rem);}
    }
    &--LpTitle{// コンテンツ > セクション > タイトル
        font-size: 1.8rem;
        letter-spacing: .2rem;
        line-height: 1.7;
        @include min(500){
            font-size: clamp(1.6rem, 1.7vw, 3rem);
            font-weight: bold;
            line-height: 1.5;
        }
    }
    &--LpCtaTitle{// コンテンツ > CTA
        position: relative;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        text-align: center;
        padding: 0 1px;
        @include min(500){font-size: clamp(2rem, 2vw, 4rem);}
        &::before{
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            letter-spacing: .3rem;
        }
        // コンテンツタイトル > ボーダーライン
        &.-b-btm{
            &::after{// 基本設定
                content: "";
                display: block;
                position: relative;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                max-width: 1100px;
                height: 0;
                background: $main-color--w;
                border-bottom: 3px dotted $site-color03;
                @include min(768){
                    bottom: -10px;
                }
            }
            // 色指定
            &.-c01{&::after{background: $site-color01 !important;}}
            &.-c02{&::after{background: $site-color02 !important;}}
            &.-c03{&::after{background: $site-color03 !important;}}
            &.-c04{&::after{background: $site-color04 !important;}}
    
            &.-left{ // テキストが左寄せの場合
                &::after{
                    left: 0;
                    transform: translateX(0);
                }
            }
        }
    
        // コンテンツタイトル > 英語表記 > カラー設定
        &.-en-color01{&::before{color: $site-color01;}}
        &.-en-color02{&::before{color: $site-color02;}}
        &.-en-color03{&::before{color: $site-color03;}}
        &.-en-color04{&::before{color: $site-color04;}}

        &.-white{
            color: $main-color--w !important;
            &.-b-btm{
                &::after{
                    background: $main-color--w !important;
                    border-bottom: 3px dotted $main-color--w;
                }
            }
        }
    }
    &--LpListTitle{// コンテンツ > セクション > リストタイトル
        position: relative;
        color: $main-color--w;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: .2rem;
        line-height: 1.5;
        padding: 10px 15px 10px 5.5rem;
        @include min(1000){
            padding: 10px 15px 10px 6rem;
            font-size: clamp(1.6rem, 1.7vw, 2.2rem);
            font-weight: bold;
            line-height: 1.5;
        }
        @include min(1200){padding: 10px 15px 10px 7rem}
        @include min(1200){padding: 10px 15px 10px 7.5rem;}
        &::before{
            position: absolute;
            top: 50%;
            left: 1.5rem;
            transform: translate(0, -50%);
            font-size: clamp(2.8rem, 2.5vw, 4rem);
            font-weight: bold;
            letter-spacing: -.1rem;
        }
        &.-t01{
            background: $site-color02;
            &::before{content: "01";}
        }
        &.-t02{
            background: $lp-color06;
            &::before{content: "02";}
        }
        &.-t03{
            background: $lp-color08;
            &::before{content: "03";}
        }
    }
}


.ItemTitle {
    max-width: 100px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.32)) !important;
}