// font-family(ローカル)

@font-face {
  // 英文フォント02
  font-family: "e-font02";
  src: url("../../fonts/en/impact.ttf") format("truetype");
}
@font-face {
  // 英文フォント04
  font-family: "e-font04";
  src: url("../../fonts/en/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  // 明朝フォント
  font-family: "mincho-font01";
  src: url("../../fonts/mincho/ShipporiMincho-Regular.ttf") format("truetype");
}
@font-face {
  // ゴシックフォント01
  font-family: "gothic-font01";
  src: url("../../fonts/gothic/YakuHanRP-Regular.otf") format("opentype");
  // src: url("../fonts/gothic/Outfit-Regular.ttf") format("truetype");
}
@font-face {
  // ゴシックフォント02
  font-family: "gothic-font02";
  // src: url("../fonts/gothic/font_1_honokamarugo_1.1.ttf") format("truetype");
  src: url("../../fonts/gothic/font_1_ant-kaku.ttf") format("truetype");
}

$f-mincho: mincho-font01; // 明朝体01
$f-gothic01: gothic-font01; // ゴシック体01
$f-gothic02: gothic-font02; // ゴシック体02
// $f-e01:       eF-font01;      // 英文フォント01
$f-e02: e-font02; // 英文フォント02
// $f-e03:       e-font03;      // 英文フォント03
$f-e04: e-font04; // 英文フォント04
// $f-d01:       d-font01;      // デザインフォント01

// font-weight
$f-n: normal;
$f-b: bold;

// 基本テキスト
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong,
label,
select,
button,
th,
td {
  color: $main-color--b;
  font-family: $f-gothic01;
  font-weight: $f-n;
  font-style: normal;
  line-height: 1.3;
  @include max(500) {
    font-family: $f-gothic02;
  }

  // ※
  &.-kome{
    position: relative;
    &::after{
      content: "※";
      font-size: .5rem;
      position: absolute;
      top: 4px;
      right: -10%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      @include min(500){right: -5%;}
      @include min(768){
        font-size: .8rem;
        right: -5%;
      }
      @include min(1000){right: -1%;}
    }
  }

  // ボーダー
  &.b-text {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 95%;
      z-index: -1;
    }
    &.-y {&::after {background: $main-color--yellow;}}
    &.-o {&::after {background: $main-color--orange;}}
    &.-color03 {&::after {background: $site-color03;}}
  }

  // ----- 位置関係 -----
  // 横_位置
  &.-right {text-align: right;}
  &.-left {text-align: left;}
  &.-center {text-align: center;}

  &.-right_s {@include max(768) {text-align: right;}}
  &.-left_s {@include max(768) {text-align: left;}}
  &.-center_s {@include max(768) {text-align: center;}}

  // 縦_位置
  &.-top {vertical-align: top;}
  &.-bottom {vertical-align: bottom;}
  &.-middle {vertical-align: middle;}

  // 行間
  &.-lh-n {line-height: normal;}
  &.-lh-1 {line-height: 1;}
  &.-lh-1_3 {line-height: 1.3;}
  &.-lh-1_5 {line-height: 1.5;}
  &.-lh-1_8 {line-height: 1.8;}
  &.-lh-2 {line-height: 2;}
  &.-lh-2_5 {line-height: 2.5;}
  &.-lh-3 {line-height: 3;}

  &.-lh-n_s {@include max(768) {line-height: normal;}}
  &.-lh-1_s {@include max(768) {line-height: 1;}}
  &.-lh-1_3_s {@include max(768) {line-height: 1.3;}}
  &.-lh-1_5_s {@include max(768) {line-height: 1.5;}}
  &.-lh-1_8_s {@include max(768) {line-height: 1.8;}}
  &.-lh-2_s {@include max(768) {line-height: 2;}}
  &.-lh-3_s {@include max(768) {line-height: 3;}}

  // 文字間隔
  &.-ls-n {letter-spacing: normal;}
  &.-ls-1 {letter-spacing: 0.1rem;}
  &.-ls-2 {letter-spacing: 0.2rem;}
  &.-ls-3 {letter-spacing: 0.3rem;}
  &.-ls-4 {letter-spacing: 0.4rem;}
  &.-ls-5 {letter-spacing: 0.5rem;}

  &.-ls-n_s {@include max(768) {letter-spacing: normal;}}
  &.-ls-1_s {@include max(768) {letter-spacing: 0.1rem;}}
  &.-ls-2_s {@include max(768) {letter-spacing: 0.2rem;}}
  &.-ls-3_s {@include max(768) {letter-spacing: 0.3rem;}}
  &.-ls-4_s {@include max(768) {letter-spacing: 0.4rem;}}
  &.-ls-5_s {@include max(768) {letter-spacing: 0.5rem;}}

  // 影
  &.-shadow {
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.637)) !important;
  }

  // 折り返し禁止
  &.-ws-n {
    white-space: nowrap;
  }
  // 折り返し
  &.-wb-k {
    text-wrap: pretty;
    word-break: keep-all;
  }

  // 縦組み
  &.-tate {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    &_s {
      @include max(768) {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
      }
    }
  }

  // 太さ
  &.-b {font-weight: $f-b;}

  // フォントファミリー(ローカルフォント)
  &.-f-mincho01 {font-family: mincho-font01;}
  &.-f-gothic01 {font-family: gothic-font01;}
  &.-f-gothic02 {font-family: gothic-font02;}
  &.-f-En01{font-family: e-font01;}
  &.-f-En02 {font-family: e-font02;}
  &.-f-En03{font-family: e-font03;}
  &.-f-En04 {font-family: e-font04;}

  // 色
  &.-white {
    color: $main-color--w !important;
  }
  &.-black {
    color: $main-color--b !important;
  }
  &.-gray {
    color: $main-color--gray !important;
  }
  &.-red {
    color: $main-color--red !important;
  }
  &.-blue {
    color: $site-color03 !important;
  }
  &.-yellow {
    color: $main-color--yellow !important;
  }

  &.-c01 {
    color: $site-color01 !important;
  }
  &.-c02 {
    color: $site-color02 !important;
  }
  &.-c03 {
    color: $site-color03 !important;
  }
  &.-c04 {
    color: $site-color04 !important;
  }
  // LP独自のカラー
  &.-lp_c01 {
    color: $lp-color01 !important;
  }
  &.-lp_c02 {
    color: $lp-color02 !important;
  }
  &.-lp_c03 {
    color: $lp-color03 !important;
  }


  // SOLD OUT時に使用する
  &.-grayOut {
    pointer-events: none;
    opacity: 0.1;
    a {
      pointer-events: none;
      &::before,
      &::after {
        pointer-events: none;
      }
    }
  }
  // エラー時
  &.-error {
    color: $main-color--red;
  }
}

// 大きさ
html {
  // 基本（10px相当）
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
select,
button,
th,
td {
  &.s-XS {
    font-size: 1rem;
  }
  &.s-SS {
    font-size: 0.7rem;
    @include min(768) {
      font-size: clamp(0.7rem, 1.1vw, 1.2rem);
    }
  }
  &.s-S {
    font-size: 1rem;
    @include min(768) {
      font-size: clamp(1rem, 1.5vw, 1.4rem);
    }
  }
  &.s-M {
    font-size: 1.2rem;
    @include min(768) {
      font-size: clamp(1.2rem, 1.5vw, 1.6rem);
    }
  }
  &.s-ML {
    font-size: 1.6rem;
    @include min(768) {
      font-size: clamp(1.6rem, 1.5vw, 2rem);
    }
  }
  &.s-L {
    font-size: 1.6rem;
    @include min(768) {
      font-size: clamp(1.6rem, 2vw, 3.2rem);
    }
  }
  &.s-LL {
    font-size: 3rem;
    @include min(1000) {
      font-size: clamp(1.8rem, 3vw, 4.5rem);
    }
  }
  &.s-3L {
    font-size: 2.8rem;
    @include min(768) {
      font-size: clamp(2.1rem, 3vw, 4.8rem);
    }
  }
  &.s-kome {
    font-size: 1rem;
    color: $site-color_kome;
    transform: scale(0.8);
    @include min(768) {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }
  &.s-number {
    font-size: 1.6rem;
    @include min(768) {
      font-size: clamp(1.6rem, 2.8vw, 5.3rem);
    }
  }
  &.s-profile {
    font-size: 1.2rem;
    @include min(768) {
      font-size: clamp(1.2rem, 2.8vw, 1.4rem);
    }
  }
  // ナビゲーション関係のサイズ
  &.-s-nav {
    &.s-S {
      @include min(768) {
        font-size: clamp(1rem, 1.2vw, 1.2rem) !important;
      }
    }
    &.s-M {
      @include min(768) {
        font-size: clamp(1.2rem, 1.5vw, 1.4rem) !important;
      }
    }
    &.s-L {
      @include min(768) {
        font-size: clamp(1.6rem, 1.8vw, 1.8rem) !important;
      }
    }
  }

  // スマホサイズ_統一
  &.-s10 {
    @include max(768) {
      font-size: 1rem;
    }
  }
  &.-s12 {
    @include max(768) {
      font-size: 1.2rem;
    }
  }
  &.-s14 {
    @include max(768) {
      font-size: 1.4rem;
    }
  }
  &.-s16 {
    @include max(768) {
      font-size: 1.6rem;
    }
  }
  &.-s18 {
    @include max(768) {
      font-size: 1.8rem;
    }
  }
  &.-s20 {
    @include max(768) {
      font-size: 2rem;
    }
  }
  &.-s24 {
    @include max(768) {
      font-size: 2.4rem;
    }
  }
  &.-s30 {
    @include max(768) {
      font-size: 3rem;
    }
  }
}

// ナビゲーション
p,
span,
a {
  &.Top,
  &.concept,
  &.plan,
  &.Grallery,
  &.Location,
  &.Information {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
    }
    &::after {
      position: absolute;
      bottom: 11%;
      font-size: 1rem;
      font-family: $f-mincho;
      font-style: normal;
      @include min(768) {
        font-size: 1.4rem;
        bottom: 0%;
      }
      @include min(1000) {
        bottom: 11%;
      }
    }
  }
  // 位置
  &.Top,
  &.concept,
  &.plan,
  &.Grallery,
  &.Location {
    &::before {
      left: 0;
    }
    &::after {
      @include max(400) {
        bottom: -60%;
      }
      @include max(768) {
        left: 0%;
      }
      @include min(768) {
        left: 30%;
      }
      @include min(1000) {
        left: 30%;
      }
      @include min(1400) {
        left: 42%;
      }
    }
  }
  &.Information {
    &::after {
      @include max(400) {
        bottom: -60%;
      }
      @include max(768) {
        left: 0%;
      }
      @include min(768) {
        left: 41%;
      }
      @include min(1000) {
        left: 41%;
      }
      @include min(1400) {
        left: 50%;
      }
    }
  }

  // ボーダー&テキスト
  &.Top {
    &::before {
      @include min(768) {
        background: $main-color--b;
        width: 50%;
      }
      @include min(1000) {
        width: 45%;
      }
      @include min(1400) {
        width: 57%;
      }
      @include min(1600) {
        width: 58%;
      }
    }
    &::after {
      content: "トップ";
    }
  }
  &.concept {
    &::before {
      @include min(768) {
        background: $house-color01;
        width: 60%;
      }
      @include min(1000) {
        width: 54%;
      }
      @include min(1400) {
        width: 66%;
      }
      @include min(1600) {
        width: 67%;
      }
    }
    &::after {
      content: "コンセプト";
    }
  }
  &.plan {
    &::before {
      @include min(768) {
        left: 0;
        background: $house-color02;
        width: 50%;
      }
      @include min(1000) {
        width: 45%;
      }
      @include min(1400) {
        width: 57%;
      }
      @include min(1600) {
        width: 58%;
      }
    }
    &::after {
      content: "プラン";
    }
  }
  &.Grallery {
    &::before {
      @include min(768) {
        left: 0;
        background: $house-color03;
        width: 61%;
      }
      @include min(1000) {
        width: 54%;
      }
      @include min(1400) {
        width: 66%;
      }
      @include min(1600) {
        width: 67%;
      }
    }
    &::after {
      content: "ギャラリー";
    }
  }
  &.Location {
    &::before {
      @include min(768) {
        left: 0;
        background: $house-color04;
        width: 66%;
      }
      @include min(1000) {
        width: 58%;
      }
      @include min(1400) {
        width: 72%;
      }
      @include min(1600) {
        width: 73%;
      }
    }
    &::after {
      content: "ロケーション";
    }
  }
  &.Information {
    &::before {
      @include min(768) {
        left: 0;
        background: $main-color--b;
        width: 96%;
      }
      @include min(1000) {
        width: 83%;
      }
      @include min(1400) {
        width: 94%;
      }
      @include min(1600) {
        width: 95%;
      }
    }
    &::after {
      content: "インフォメーション";
    }
  }
}

// span
span {
  &.-block {
    display: block !important;
  }
}
