// 一覧ページ

.p-archive {
  background-size: 50px 15px;
  // 背景（線状 > 斜め）
  // background-image: linear-gradient(
  // 	-45deg,
  // 	$site-color01,$site-color01 45%,
  // 	white 45.5%, white 54.5%,
  // 	$site-color01 55.5%, $site-color01
  // );
  background: $site-color01;
  animation: fadeAnime 2s forwards;

  // 検索窓
  .c-sideber--search {
    padding-bottom: 5%;
    @include min(500) {
      width: 75%;
      max-width: 400px;
      margin: 0 auto;
    }
    #search {
      height: 35px;
      input,
      button {
        font-size: clamp(1.2rem, 1.5vw, 1.3rem);
        letter-spacing: 0.2rem;
        border-radius: 5px;
      }
      input {
        margin-right: 10px;
      }
    }
  }
}
