// Sass Document
@charset "UTF-8";

// 基本設定
@import "./setting/reset"; // リセットCSS
@import "./setting/color"; // カラー変数
@import "./setting/structure"; // レスポンシブ変数
@import "./setting/typography"; // テキスト変数
@import "./setting/gap"; // 間隔

// 導入
@import "./introduction/swiper.min"; // スライダー関係
@import "./introduction/luminous-basic.min"; // ポップアップ+スライダー機能付き

// サイト内（基本パーツ）
@import "./components/common"; // 共通
@import "./components/header"; // ヘッダー
@import "./components/footer"; // フッター
@import "./components/nav"; // ナビゲーション
@import "./components/contents"; // コンテンツ
@import "./components/title"; // コンテンツ > タイトル
@import "./components/contact"; // お問い合わせ
@import "./components/flex"; // 横並び要素
@import "./components/banner"; // バナー
@import "./components/tab"; // タブ
@import "./components/modal"; // モーダル
@import "./components/btn"; // ボタン
@import "./components/link"; // リンク
@import "./components/slider"; // カルーセル
@import "./components/popup"; // ポップアップ
@import "./components/video"; // 動画
@import "./components/tab"; // タブコンテンツ
@import "./components/dropmenu"; // ドロップメニュー
@import "./components/iframe"; // 読み込み表示
@import "./components/accordion"; // アコーディオン
@import "./components/img"; // 画像関係
@import "./components/thumbnail"; // サムネイル
@import "./components/category"; // カテゴリー
@import "./components/date"; // 日付関係
@import "./components/post"; // 投稿関係
@import "./components/table"; // テーブル関係
@import "./components/breadcrumb"; // パンくず
@import "./components/pagination"; // ページネーション
@import "./components/form"; // フォーム関係
@import "./components/sideber"; // サイドバー
@import "./components/card"; // カードレイアウト
@import "./components/news"; // お知らせバー
@import "./components/mainvisual"; // メインビジュアル

// 各ページ
@import "./page/top";
@import "./page/service";
@import "./page/archive";
@import "./page/single";
@import "./page/contact";
@import "./page/static";
@import "./page/company";
@import "./page/lp";

/*
    【アニメーション】
    細かな調整は下記サイトを参考に
    https://cubic-bezier.com/
*/

@import "./animation/common";
@import "./animation/flip";
@import "./animation/slide";
@import "./animation/color";
@import "./animation/scroll";
@import "./animation/zoom";
@import "./animation/fade";
@import "./animation/move";
@import "./animation/img";
@import "./animation/underline";
@import "./animation/loading";
@import "./animation/original";

// Lottie
@import "./animation/lottie";


